*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: #f2f2f2;
}
.container{
    max-width: 1480px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
button{
    border: 0;
}